* {
  font-family: "Poppins", sans-serif;
}
.h-font {
  font-family: "Merienda", cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ! Swiper js  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ! Custome button in check availability section */
.custome-button {
  background-color: #2ec1ac;
}
.custome-button:hover {
  background-color: #279e8c;
}

.availibility-form {
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

@media screen and (width <= 575px) {
  .availibility-form {
    margin-top: 20px;
    padding: 0 25px;
  }
}
